:root {
  --border-color: #2a3d48;
  --text-color: #AAB8C2;
  --background-color: #14171A;
  --primary-color: #1DA1F2;
}

.main-container {
   display: flex;
   flex-direction: column;
   margin-top: 2rem;
   width: 85%;
   justify-content: center;
   margin-left: 5rem;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  background-color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.fa-twitter {
  justify-content: flex-end;
}

img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 10px;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid var(--border-color);
    border-bottom: none;
    height: 5rem;
    
}

.nav-button {
  align-self: flex-end;
  color: var(--text-color);
  background: none;
  border: none;
  font-size: 1.15rem;
  cursor: pointer;
  margin-bottom: 0.8rem;
}

button {
  font-family: Arial, Helvetica, sans-serif;
}

.tweet-box{
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

input {
  width: 80%;
  height: 50%;
  font-size: 1.25rem;
  
}

input[type="text"] {
  background-color: var(--background-color);
  background-color: black;
  border: none;
  color: var(--text-color);
}

input:focus {
  color: white;
  outline: none;  
}

.input-and-image {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tweet-button {
  margin-right: 15px;
  color: white;
  background: var(--primary-color);
  align-self: flex-end;
  margin-bottom: 1rem;
  width: 80px;
  height: 35px;
  font-size: 1.05rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;

}

.loadTweets {
  width: 100%;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: lighter;
  background: black;
  border: 1px solid var(--border-color);
  height: 2rem;
  cursor: pointer;
}

.user-display-container {
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  
}

.full-name {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


.image-username {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.user-name-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.3rem;
  
}



.name-and-handle-container span {
  margin-left: 0.2rem;
}

.update-delete-container {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  margin-left: 12rem;
}

.drop-down-item {
  margin-left: 1.5rem;
  
}

.udButton {
  background-color: var(--primary-color);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 15px;
  font-size: 0.7rem;
  padding: 0.5rem;
  cursor: pointer;
}

.text-box {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 2rem;
  font-size: 1.1rem;
  color: white;
}

.interact-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}